
# detects when Canon R5 is plugged in. Add more idVendor/idProduct pairs if you use a different body..
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR_FROM_DATABASE}=="Canon, Inc.", SYMLINK+="Camera", TAG+="systemd", ENV{SYSTEMD_WANTS}+="sd-backup.service", RUN+="/usr/bin/touch /tmp/camera_plugged_in"
ACTION=="remove", SUBSYSTEM=="usb", ENV{ID_VENDOR_FROM_DATABASE}=="Canon, Inc.", RUN+="/bin/rm -f /tmp/camera_plugged_in"

KERNEL!="sd*", GOTO="SD_early_exit"
ACTION=="add", ENV{ID_FS_TYPE}=="ntfs", SYMLINK+="MediaDest", TAG+="systemd", ENV{SYSTEMD_ALIAS}="/dev/MediaDest", ENV{SYSTEMD_WANTS}+="mount-dest@%k.service"
LABEL="SD_early_exit"
